/* Game mechanics colors, and their CSS equivalents:
 * Space:      Dodger blue
 * Time:       cyan
 * SpaceTime:  fade between blue and cyan
 * Matter:     Green, maybe lime
 * Energy:     Orange. May be too bright. 
 * Light:      Yellow. Almost certainly too bright
 * Life:       Red. Likely too dark
 * Creativity: Pink / magenta. May be too bright. 
*/


* { 
    color: white;
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    font-family: monospace;
    outline: none;
}
body {
    overflow-x: auto;
    max-width: 100%
}

.tab {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 0.2rem solid rgb(128, 128, 128);
    color: rgb(192, 192, 192)
}
.tabcontent {
    white-space: nowrap;
}

.fadeIn {
    opacity: 1;
    animation: fadeIn 0.2s linear;
}

.tile {
    /*border: 0.5rem solid rgb(0, 127, 255);
    margin: 2%;*/
    padding: 1rem;
    border-radius: 5%;
    display: inline-flex;
    width: 30%;
    min-width: 33rem;
    height: 80%;
    flex-direction: column;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.tileUpg {
    width: 50%;
    align-self: center;
    height: 10rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    border: 0.25rem solid;
    border-radius: 20%;
}
.upgrade {
    font-size: 12px;
    min-width: 10rem;
    width: 30%;
    height: 8rem;
    margin: 0;
    white-space: initial;
    vertical-align: top;
}

.time {
    border-color: mediumpurple;
}
.time * {
    color: mediumpurple;
}
.time button, .time button * {
    background-color: rgb(50, 0, 100);
}

.space {
    border-color: dodgerblue;
}
.space * {
    color: dodgerblue;
}
.space button, .space button * {
    background-color: rgb(0, 0, 100);
}
.spacetable * td {
    padding: 1rem 0;
}
.tableUpg {
    width: 90%;
    height: auto;
    border: 0.25rem solid;
    border-radius: 5%;
}


.spaceTime {
    border-color: cyan;
    animation: fadeIn 0.5s linear, cyanBlue 20s infinite ease-in-out; /* aww piss off, multiple animations */
}
.spaceTime * {
    color: rgb(0, 255, 255);
    animation: cyanBlue 20s infinite ease-in-out;
}
@keyframes cyanBlue {
    0%, 100% { border-color: mediumpurple; color: mediumpurple;}
    50% { border-color: dodgerblue; color: dodgerblue;}
}

.matter {
    border-color: rgb(0, 128, 0);
    color: rgb(0, 192, 0);
    animation: fadeIn 0.2s linear
}
.matter * {
    color:rgb(0, 192, 0);
}





span.important {
    font-size: 30px;
    font-weight: bolder;
}

.option {
    min-width: 15rem;
    max-width: 30%;
    height: 4rem;
    padding: 0.5rem;
    border: 0.25rem solid red;
    border-radius: 10%
}